<header class="header">
    <div class="logo">
      <a href="#">ShopLogo</a>
    </div>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="/chatbot">Chatbot</a></li>
        <li><a class="nav-link " href="/singup">Sign up</a></li>/
        <li> <a class="nav-link" href="/login">Log in</a></li>
      </ul>
  
    </div>
      <div class="cart-icon">
        <a href="#"><img src="cart-icon.png" alt="Cart"></a>
      </div>
    </nav>
    <button class="menu-toggle" aria-label="Toggle menu">
      ☰
    </button>
  </header>